node_modules/
.env
.env.*
!.env.example
.terraform/
*.tfstate
*.tfstate.*
reader/dist/
reader/dist-ssr/
dist/

# Vault Index
library.json
library.json.enc
public/library.json
public/library.json.enc
public/data/*

# Crawler Configs
**/configs.json